body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  margin: 0;
  color: #f1f5f9;
}


.container {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}


h1 {
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}


form, table {
  background: #1e293b;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}


form {
  padding: 20px;
  margin-bottom: 25px;
}


input {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
  width: 150px;
}


button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}


td button {
  background: #ef4444;
}


table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}


th {
  background: #3b82f6;
  padding: 12px;
  font-weight: 500;
}


td {
  padding: 12px;
  border-bottom: 1px solid #334155;
}


.pass {
  color: #22c55e;
  font-weight: 600;
}

.fail {
  color: #ef4444;
  font-weight: 600;
}